/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 34px);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
    transform: translateY(1px);
}

#error-message {
    color: #ff4c4c;
    background-color: rgba(255, 76, 76, 0.2);
    border: 1px solid #ff4c4c;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

#contact-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn, .edit-btn {
    background: #ff4c4c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover {
    background: #e60000;
}

.edit-btn {
    background: #007BFF;
}

.edit-btn:hover {
    background: #0056b3;
}

.error {
    color: #ff4c4c;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
    display: none;
}
